<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="QuanLyKhachSan.Properties.Settings.QuanLyKhachSanConnectionString" connectionString="Data Source=TamBlue/SQLEXPRESS;Initial Catalog=HotelManagement;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
