<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4001" targetFramework="net48" />
  <package id="CrystalReports.ShockwaveFlashObjects" version="13.0.4001" targetFramework="net48" />
  <package id="log4net" version="1.2.10" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net48" />
</packages>